<p>rooms works!</p>
<!-- Interpolation -->
<h2>My Rooms {{hotelName}}</h2>

<!-- Property Binding -->
<div [hidden]="hideRooms">
<div [innerText]="numberOfRooms" [ngStyle]="{'background-color': rooms.availableRooms ? 'green' : 'red'}">
    <h3>This is Hide</h3>
</div>  
</div>
<!-- Event Binding -->
<button (click)="toggle()">Hide</button>

<!-- {{rooms?.availableRooms ?? "No Rooms"}} -->
<!-- Only for production -->
<!-- {{roomList | json}} -->
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div *ngIf="rooms?.availableRooms">
    Rooms List
</div>

<div *ngIf="rooms.availableRooms > 0">
   
    <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>